// Workflow parameters
params {
	input = "/data0/thom/raw_mchic/*.fastq.gz"
	//input = "/data0/thom/raw_mc4c/NPS_LVR-HS5-NP_--000004--_Best.fastq.gz"
	ref = "/data0/thom/mm9/mm9.fa"
	script_dir = "/home/thom/PycharmProjects/McHiC"
	// Script parameters
	bwa = "-T 5 -k 14 -A 1 -B 4 -O 6 -E 1 -w 10"
	fragments = "-e DpnII -s 50 -l 2000 -n 100"
	filter = "-q 1 -d 100"
	restriction = "-d 5"
}


// Global options
manifest {
	author = "Thom Griffioen"
	version = "1.0.0"
	name = "mc_hic"
	description = "Multi-Contact Hi-C pipeline"
	mainScript = "pipeline.nf"
	nextflowVersion = "!>=18.10"
}
timeline {
	enabled = true
	file = "stats/timeline.html"
}
report {
	enabled = true
	file = "stats/report.html"
}
dag {
	enabled = true
	file = "stats/flowchart.svg"
}
trace {
	enabled = true
	file = "stats/trace.txt"
	sep = "\t"
}

// Profiles
profiles {
	// Local execution
	standard {
		env.PATH = "/home/thom/miniconda3/:$PATH"
		process {
			executor = "local"
//			conda = "/home/thom/miniconda3/envs/mc4c"
			withLabel: multicore {
				cpus = 4
			}
		}
	}

	// Sun Grid Engine execution
	cluster {
		process {
			executor = "sge"
			queue = "long"
		}
	}
}

// vim: noet:ai:ft=nextflow
