// Workflow parameters
params {
	input = "*.fq.gz"
	output_dir = "results/"
	//input = "/data0/thom/raw_mc4c/NPS_LVR-HS5-NP_--000004--_Best.fastq.gz"
	ref = "/data0/thom/mm9/mm9.fa"
	script_dir = "/home/thom/PycharmProjects/McHiC"
	// Script parameters
	fragments = "-e DpnII -s 50 -l 2000"
	bwa = "-T 5 -k 10 -A 1 -B 4 -O 6 -E 1 -w 10"
	cigar = "-m 0.8 -u 0.9"
	filter = "-q 1 -d 100"
	restriction = "-d 5"
}


// Global options
manifest {
	author = "Thom Griffioen"
	version = "1.0.0"
	name = "mc_hic"
	description = "Multi-Contact Hi-C pipeline"
	mainScript = "pipeline.nf"
	nextflowVersion = "!>=18.10"
}
timeline {
	enabled = true
	file = "${params.output_dir}/stats/timeline.html"
}
report {
	enabled = true
	file = "${params.output_dir}/stats/report.html"
}
dag {
	enabled = true
	file = "${params.output_dir}/stats/flowchart.svg"
}
trace {
	enabled = true
	file = "${params.output_dir}/stats/trace.txt"
	sep = "\t"
}

// Profiles
profiles {
	// local execution
	standard {
		process {
			withLabel: multicore {
				cpus = 4
			}
		}
	}
}

// vim: noet:ai:ft=nextflow:colorcolumn=0
